{% extends 'base.html' %}

{% block head %}
<title>rcDNA</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center text-center">
        <h2>Reverse Complement DNA</h2>
        <p>This web service can be used to convert DNA sequence(s) into their 
            reverse-complement counterpart.</p>
    </div>
    <div>
        <form method="POST" role="form", action="/" class="form-horizontal">
            <div class="mb-3">
                <label class="form-label">Input DNA sequences separated by lines:</label>
                <textarea class="form-control" name="dnaseq" id="dnaseq" rows="3" placeholder={{holder}}></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Or upload txt file</span>
                <input type="file" class="form-control" name="seqfile" id="seqfile">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Or use sample file</span>
                <input type="file" class="form-control" name="sample" id="sample">
            </div>
                
            <div class="row">
                <div class="col text-center">
                    <input class="btn btn-outline-primary" type="submit" id="dnaseq", value="Submit">
                </div>
            </div>
            <!-- <button type="button" class="btn btn-outline-primary" id="dnaseq">Submit</button> -->
        </form>
    </div>
    <br>
    <div class="mb-3">
        {% if seqs is not none %}
            {% if seqs|length == 0 %}
                <p>None of the input lines are DNA sequences!</p>
            {% else %}
                <p> The reverse complement sequences for the {{ seqs|length }} valid DNA sequence lines are: </p>
                {% for seq, index in seqs %}
                    <p>line {{index}}: {{seq}}</p>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}