{% extends 'base.html' %}

{% block title %}rcDNA{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-md-center text-center">
        <h2>Reverse Complement DNA</h2>
        <p>This web service can be used to convert DNA sequence(s) into their 
            reverse-complement counterpart.</p>
    </div>
    <div>
        <form method="POST" action="/" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Input DNA sequences separated by lines:</label>
                <textarea class="form-control" name="dnaseq" id="dnaseq" rows="3" placeholder={{holder}}></textarea>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Or upload txt/fastq file (size limit: 5M)</span>
                <input type="file" class="form-control" name="seqfile" id="seqfile">
            </div>    
            <div class="row">
                <div class="col text-center">
                    <input class="btn btn-outline-primary" type="submit" id="dnaseq", value="Submit">
                </div>
            </div>
            <!-- <button type="button" class="btn btn-outline-primary" id="dnaseq">Submit</button> -->
        </form>
    </div>
    <br>
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="mb-3">
        {% if seqs is not none %}
            {% if seqs|length == 0 %}
              <div class="alert alert-secondary" role="alert">
                <p>None of the input lines are DNA sequences!</p>
            {% else %}
              <div class="alert alert-success" role="alert">
                The reverse complement sequences for the {{ seqs|length }} valid DNA sequence lines are:
              </div>
              <div class="card">
                <div class="card-body">
                    {% for seq, index in seqs %}
                        <p>line {{index}}: {{seq}}</p>
                    {% endfor %}
                  </div>
              </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}